<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.zhaizhai.mapper.DishMapper">
    <!--
两个一致：
1.mapper接口的全类名和映射文件的namespace要一一致
2.mapper接口的方法名要和映射文件中的sql的id保持一致
-->

    <!--
resultType：设置结果类型，即查询的数据要转换为哪种数据类型
resultMap：自定义映射，用来处理多对一或者一对多的映射，
-->


    <resultMap id="dishDtoMap" type="com.alice.zhaizhai.dto.DishDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="code" property="code"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <collection property="flavors" select="com.alice.zhaizhai.mapper.DishFlavorMapper.selectListByDishId"
                    column="id"/>
    </resultMap>



<!--List<DishDto> selectDishDtoListByCondition(Dish dish);-->
    <select id="selectDishDtoListByCondition" resultMap="dishDtoMap">
        select *
        from dish
        <where>
            is_deleted = 0
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="code != null">
                and code = #{code}
            </if>
            <if test="image != null">
                and image = #{image}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createTime != null">
                and update_time = #{createTime}
            </if>
            <if test="createUser != null">
                and create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                and update_user = #{updateUser}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <!--List<DishDto> selectDishDtoListLikeName(String name);-->
    <select id="selectDishDtoListLikeName" resultType="com.alice.zhaizhai.dto.DishDto">
        select dish.*, category.name category_name from dish, category where category.id = dish.category_id and
        is_deleted = 0
        <if test="name != null">
            and dish.name like concat('%', #{name}, '%')
        </if>
    </select>

    <!--void insert(Dish dish);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (
        <trim prefixOverrides=",">
            <if test="name != null">
                , name
            </if>
            <if test="categoryId != null">
                , category_id
            </if>
            <if test="price != null">
                , price
            </if>
            <if test="code != null">
                , code
            </if>
            <if test="image != null">
                , image
            </if>
            <if test="description != null">
                , description
            </if>
            <if test="status != null">
                , status
            </if>
            <if test="sort != null">
                , sort
            </if>
            <if test="createTime != null">
                , create_time
            </if>
            <if test="updateTime != null">
                , update_time
            </if>
            <if test="createUser != null">
                , create_user
            </if>
            <if test="updateUser != null">
                , update_user
            </if>
            <if test="isDeleted != null">
                , is_deleted
            </if>
        </trim>
        ) value (
        <trim prefixOverrides=",">
            <if test="name != null">
                , #{name}
            </if>
            <if test="categoryId != null">
                , #{categoryId}
            </if>
            <if test="price != null">
                , #{price}
            </if>
            <if test="code != null">
                , #{code}
            </if>
            <if test="image != null">
                , #{image}
            </if>
            <if test="description != null">
                , #{description}
            </if>
            <if test="status != null">
                , #{status}
            </if>
            <if test="sort != null">
                , #{sort}
            </if>
            <if test="createTime != null">
                , #{createTime}
            </if>
            <if test="updateTime != null">
                , #{updateTime}
            </if>
            <if test="createUser != null">
                , #{createUser}
            </if>
            <if test="updateUser != null">
                , #{updateUser}
            </if>
            <if test="isDeleted != null">
                , #{isDeleted}
            </if>
        </trim>
        )
    </insert>





    <!--DishDto selectDishDtoById(Long id);-->
    <select id="selectDishDtoById" resultMap="dishDtoMap">
        select *
        from dish
        where id = #{id}
    </select>


    <!--void update(Dish dish);-->
    <update id="update">
        update dish set
        <trim prefixOverrides=",">
            <if test="name != null">
                name = #{name}
            </if>
            <if test="categoryId != null">
                , category_id = #{categoryId}
            </if>
            <if test="price != null">
                , price = #{price}
            </if>
            <if test="code != null">
                , code = #{code}
            </if>
            <if test="image != null">
                , image = #{image}
            </if>
            <if test="description != null">
                , description = #{description}
            </if>
            <if test="status != null">
                , status = #{status}
            </if>
            <if test="sort != null">
                , sort = #{sort}
            </if>
            <if test="createTime != null">
                , create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test="createUser != null">
                , create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                , update_user = #{updateUser}
            </if>
            <if test="isDeleted != null">
                , is_deleted = #{isDeleted}
            </if>
        </trim>
        where id = #{id}
    </update>


    <!--Dish selectById(Long id);-->
    <select id="selectById" resultType="dish">
        select *
        from dish
        where id = #{id}
    </select>

</mapper>
