<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.zhaizhai.mapper.EmployeeMapper">
    <!--
两个一致：
1.mapper接口的全类名和映射文件的namespace要一一致
2.mapper接口的方法名要和映射文件中的sql的id保持一致
-->

    <!--
resultType：设置结果类型，即查询的数据要转换为哪种数据类型
resultMap：自定义映射，用来处理多对一或者一对多的映射，
-->


    <!--Employee selectOneByUsername(String username);-->
    <select id="selectOneByUsername" resultType="employee">
        select *
        from employee
        where username = #{username}
    </select>

    <!--void insert(Employee employee);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into employee(name, username, password, phone, sex, id_number, create_time, update_time, create_user,
                             update_user)
            value (#{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{createTime}, #{updateTime},
                   #{createUser}, #{updateUser})
    </insert>

    <!--List<Employee> selectListLikeName(String name);-->
    <select id="selectListLikeName" resultType="employee">
        select * from employee
        <if test="name != null">where name like concat('%', #{name}, '%')</if>
    </select>

    <!--void update(Employee employee);-->
    <update id="update">
        update employee set
        <trim prefixOverrides=",">
            <if test="name != null">
                name = #{name}
            </if>
            <if test="username != null">
                , username = #{username}
            </if>
            <if test="password != null">
                , password = #{password}
            </if>
            <if test="phone != null">
                , phone = #{phone}
            </if>
            <if test="sex != null">
                , sex = #{sex}
            </if>
            <if test="idNumber != null">
                , id_number = #{idNumber}
            </if>
            <if test="status != null">
                , status = #{status}
            </if>
            <if test="updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test="updateUser != null">
                , update_user = #{updateUser}
            </if>
        </trim>
        where id = #{id}
    </update>


    <!--Employee selectById(Long id);-->
    <select id="selectById" resultType="employee">
        select * from employee where id = #{id}
    </select>
</mapper>
