<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.zhaizhai.mapper.OrderDetailMapper">
    <!--
两个一致：
1.mapper接口的全类名和映射文件的namespace要一一致
2.mapper接口的方法名要和映射文件中的sql的id保持一致
-->

    <!--
resultType：设置结果类型，即查询的数据要转换为哪种数据类型
resultMap：自定义映射，用来处理多对一或者一对多的映射，
-->

    <!--void insert(OrderDetail orderDetail);-->
    <insert id="insert">
        insert into order_detail(order_id, number, amount
            <if test="name != null">
                , name
            </if>
            <if test="image != null">
                , image
            </if>
            <if test="dishId != null">
                , dish_id
            </if>
            <if test="setmealId != null">
                , setmeal_id
            </if>
            <if test="dishFlavor != null">
                , dish_flavor
            </if>
        ) value (#{orderId}, #{number}, #{amount}
            <if test="name != null">
                , #{name}
            </if>
            <if test="image != null">
                , #{image}
            </if>
            <if test="dishId != null">
                , #{dishId}
            </if>
            <if test="setmealId != null">
                , #{setmealId}
            </if>
            <if test="dishFlavor != null">
                , #{dishFlavor}
            </if>
        )
    </insert>


<!--List<OrderDetail> selectListByOrderId(Long orderId);-->
    <select id="selectListByOrderId" resultType="orderDetail">
        select * from order_detail where order_id = #{oid}
    </select>
</mapper>
